@page
@model Essenbee.Bot.Web.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Bot Administration</h2>

@{
    var text = "Start Bot";
}

@if (Model.IsRunning)
{
    text = "Stop Bot";
    <div>
        <span class="btn btn-success">The Bot is running!</span>
    </div>
}
else
{
    text = "Start Bot";
    <div>
        <span class="btn btn-danger">The Bot is not running</span>
    </div>
}

<br />
<div>
    <form method="post">
        <input class="btn btn-primary" type="submit" value="@text">
    </form>
</div>