@page
@model Essenbee.Bot.Web.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Bot Administration</h2>

@await Html.PartialAsync("_BotControl", Model)

@await Html.PartialAsync("_StartupMessage", Model)

@await Html.PartialAsync("_TimedMessages", Model)